<div style="margin-top: -50px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                El backend se encarga del almacenamiento y procesamiento de datos de una aplicación. Esta parte de la tecnología utiliza el lenguaje de programación C# y la plataforma .NET para crear aplicaciones web y móviles robustas y escalables.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core , SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web API's</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity FRamework Core</li>
                <li>ASP.NET CORE IDENTITY - AUTENTICACIÓN</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:  0  15px  15px 0 ; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>

            <h3>Front-end</h3>
            <p>
                El frontend se encarga de la interfaz de usuario de una aplicación. Esta parte de la tecnología utiliza lenguajes de programación como HTML, CSS y JavaScript. Estas herramientas sirven para crear una interfaz atractiva y funcional.

            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                HTML, CSS y JavaScript
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>HTML5</li>
                <li>CSS</li>
                <li>bootstrap</li>
                <li>JavaScript</li>
                <li>JQuery</li>

            </ul>
        </div>


    </div>
</div>