@{
    ViewData["Title"] = "Página principal";
   
}

<div class="text-center">
    <h1 class="display-4">Soy Carlos Iberico Cabezas</h1>
    </br>
    <h2>.NET Full Stack Developer | C# </h2>
    <img 
        id="foto_up"
        src="~/IMAGENES/foto_up.jpg" alt="Foto de Carlos Iberico"/>
</div>

<div class="row justify-content-center  text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>

        <p>Profesional Técnico en Computación e Informática. Especialista en Tecnologías de la Información y Comunicaciones con 10 años de experiencia en Soporte Tecnológico, Gestión de Mesa de Ayuda y Servicios basados en enfoque ITIL.</p>
            <br />
        <p>Actualmente especialista en el desarrollo de software con conocimientos en herramientas de desarrollo tales como .NET ,C# ,Patro de diseño de software MVC , Api Rest , EF , ASP.NET  y con conocimientos adicionales de administración de base de datos SQL SERVER/MySQL.</p>

        <p>Alta capacidad de análisis, responsable, orientado al logro de objetivos, trabajo en equipo,proactivo, con deseos de superación.</p>
    </div>
    <br />
</div>
<div style="margin-top: -50px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                El backend se encarga del almacenamiento y procesamiento de datos de una aplicación. Esta parte de la tecnología utiliza el lenguaje de programación C# y la plataforma .NET para crear aplicaciones web y móviles robustas y escalables.
            </p>
            <p class="text-primary cabecera"> 
                Stack:
            </p>
            <p>
                ASP.NET Core , SQL Server
            </p>

            <p class="text-primary cabecera"> 
                Experiencia:
            </p>
            <ul>
                <li>Web API's</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity FRamework Core</li>
                <li>ASP.NET CORE IDENTITY - AUTENTICACIÓN</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:  0  15px  15px 0 ; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>

            <h3>Front-end</h3>
            <p>
                El frontend se encarga de la interfaz de usuario de una aplicación. Esta parte de la tecnología utiliza lenguajes de programación como HTML, CSS y JavaScript. Estas herramientas sirven para crear una interfaz atractiva y funcional.

            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                HTML, CSS y JavaScript
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>HTML5</li>
                <li>CSS</li>
                <li>bootstrap</li>
                <li>JavaScript</li>
                <li>JQuery</li>
            
            </ul>
        </div>


    </div>
</div>